name: CD - Deploy to ECS QA & Prod

on:
  workflow_run:
    workflows: ["CI - Build & Push to ECR"]
    types: [completed]

jobs:
  deploy-qa:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'develop' }}
    runs-on: ubuntu-latest
    environment:
      name: QA
      url: http://minima-qa-alb-474956859.us-east-2.elb.amazonaws.com
    steps:
      - uses: actions/checkout@v4 # Necesario para obtener el código
        with:
          # FORZAMOS EL CHECKOUT AL SHA DEL COMMIT QUE EJECUTÓ EL CI
          ref: ${{ github.event.workflow_run.head_sha }}
          
      # 1. Obtener la TAG del commit que disparó el CI/CD
      - name: Get SHA Tag
        id: get_sha
        run: echo "IMAGE_TAG=$(jq -r '.head_sha' $GITHUB_EVENT_PATH)" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      # 1.5. Descargar la definición de tarea actual de QA
      - name: Download QA task definition
        run: |
          aws ecs describe-task-definition --task-definition minima-task-definition:1 \
            --query taskDefinition > task-definition-qa.json

      # 2. Despliegue de QA: Inyecta la nueva imagen y actualiza el servicio
      - name: Deploy new images to ECS QA
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          # Usaremos la Opción A para resolver el error inicial (Task Definition ARN)
          task-definition: task-definition-qa.json
          service: qa-service             
          cluster: qa-cluster             
          # Usamos el repo 'qa' y el tag SHA
          container-names: minima-backend,minima-frontend
          images: |
            qa:minima-backend-${{ env.IMAGE_TAG }}
            qa:minima-frontend-${{ env.IMAGE_TAG }}
          wait-for-service-stability: true
          
      # 2.5. Añadimos una pausa para asegurar que el ALB marque la tarea como saludable
      - name: Wait for service to stabilize
        run: sleep 180
          
      # 3. Health check QA
      - name: Health check QA
        # Usar el DNS Name del ALB, protocolo HTTP y la ruta /health
        run: curl -fsS http://minima-qa-alb-474956859.us-east-2.elb.amazonaws.com/health

  deploy-prod:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: http://minima-prod-alb-1540490437.us-east-2.elb.amazonaws.com
    steps:
      - uses: actions/checkout@v4
        with:
          # FORZAMOS EL CHECKOUT AL SHA DEL COMMIT QUE EJECUTÓ EL CI
          ref: ${{ github.event.workflow_run.head_sha }}
          
      # 1. Obtener la TAG del commit
      - name: Get SHA Tag
        id: get_sha
        run: echo "IMAGE_TAG=$(jq -r '.head_sha' $GITHUB_EVENT_PATH)" >> $GITHUB_ENV
        
      - name: Wait for manual approval
        run: echo "Manual approval required (GitHub Environment protection)"
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
          
      # 1.5. Descargar la definición de tarea actual de Prod
      - name: Download Prod task definition
        run: |
          aws ecs describe-task-definition --task-definition minima-prod-task-definition:4 \
            --query taskDefinition > task-definition-prod.json
          
      # 2. Despliegue de Prod: Inyecta la nueva imagen y actualiza el servicio
      - name: Deploy new images to ECS Prod
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: task-definition-prod.json
          service: prod-service
          cluster: prod-cluster 
          # Usamos el repo 'prod' y el tag SHA
          container-names: minima-backend,minima-frontend
          images: |
            prod:minima-backend-${{ env.IMAGE_TAG }}
            prod:minima-frontend-${{ env.IMAGE_TAG }}
          wait-for-service-stability: true
          
      # 2.5. Añadimos una pausa para asegurar que el ALB marque la tarea como saludable
      - name: Wait for service to stabilize
        run: sleep 30
          
      # 3. Health check Prod
      - name: Health check Prod
        # Usar el DNS Name del ALB, protocolo HTTP y la ruta /health
        run: curl -fsS http://minima-prod-alb-1540490437.us-east-2.elb.amazonaws.com/health